@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

h1 {
    text-align: center;
    font-size: 2.8em;
    margin: 30px auto 50px auto;
}

.todos {
    width: 400px;
    background-color: rgb(240, 240, 240);
    padding: 30px;
    margin: 30px auto;
    border: 1px solid #D6D6D6;
    border-radius: 15px;
}

.container {
    margin: 50px auto;
    max-width: 600px;
    text-align: center;
}

.new-todo {
    height: 2.6em;
    border: 1px solid #D6D6D6;
    border-radius: 6px 0 0 6px;
    padding: 10px 5px;
    outline: none;
    font-size: 15px;
    margin: 0 auto;
    max-width: 360px;
}

.btn {
    font-size: 15px;
    color: #fff;
    height: 2.6em;
    padding: 10px 5px;
    border-radius: 0 6px 6px 0;
    background-color: #247bec;
    outline: none;
    border: 1px solid transparent;
    width: 80px;
    margin: 0 auto;
}

.error {
    display: block;
    font-size: 16px;
    color: #e92131;
    font-weight: bold;
    opacity: 0;
}

.todo {
    display: block;
    padding: 15px;
    box-sizing: border-box;
}

.task {
    padding: 20px;
    font-size: 16px;
    color: #1e1e1e;
    list-style: none;
    display: inline;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: #080c0f;
}

input[type="checkbox"]:checked {
    width: 20px;
    height: 20px;
    color: #e92131;
}

.done {
    background-color: rgb(223, 223, 223);
}

.completed {
    text-decoration: line-through;
    color: red;
}

li {
    padding: 20px;
    font-size: 16px;
    color: #1e1e1e;
    list-style: none;
}

.close {
    display: inline;
    font-weight: bold;
    color: #aaa;
    font-size: 18px;
    float: right;
}

.btn-clear {
    display: block;
    margin: 0 auto;
    padding: 10px 30px;
    outline: none;
    background-color: #e92131;
    border: none;
    color: #fff;
    font-weight: bold;
}